* {
  margin: 0px;
  padding: 0px; }

html,
body,
section.main {
  width: 100%;
  height: 100%; }

body {
  font-family: "Roboto";
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/font/robotoregular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/font/robotoregularitalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/font/robotomedium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("/font/robotomediumitalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/font/robotobold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url("/font/robotobolditalic.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("/font/robotoblack.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("/font/robotoblackitalic.ttf") format("truetype"); }

body {
  background-image: url("/img/mountain.svg");
  background-position: center center;
  background-size: cover;
  color: #EFEFEF; }

a {
  color: inherit;
  text-decoration: none; }

section.main {
  position: relative;
  height: calc(100% - 75px); }

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }
  header > div {
    display: block;
    margin: 0px auto;
    text-align: center; }
    header > div > div {
      padding-top: 30px;
      font-size: 20px;
      font-weight: 700; }
  header form input {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    width: 0.1px;
    height: 0.1px;
    z-index: -1; }
  header form label {
    display: block;
    border: 5px solid #EFEFEF;
    position: relative;
    min-width: 300px;
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    line-height: 80px;
    cursor: pointer; }
    header form label span,
    header form label a {
      display: block;
      box-sizing: border-box;
      min-width: 300px;
      margin: 0px auto;
      padding: 0px 60px; }
    header form label.fade {
      border-top: 5px solid transparent;
      border-left: none;
      border-right: none;
      border-bottom: 5px solid #EFEFEF;
      transition: border-top .5s, border-left .5s, border-right .5s, border-bottom .5s; }
      header form label.fade > div {
        opacity: 0;
        transition: opacity .5s; }
    header form label:not(.no_hover):active {
      top: 1px; }
    header form label:not(.no_hover):hover {
      background-color: #EFEFEF;
      color: #222222; }
    header form label > div {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: #EFEFEF;
      overflow: hidden;
      width: 0%;
      color: #222222; }

footer {
  background-color: #EFEFEF;
  box-sizing: border-box;
  position: absolute;
  bottom: -75px;
  width: 100%;
  padding: 25px 20px;
  color: #222222;
  font-size: 18px;
  text-align: center; }
  footer a {
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: #757575;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s; }
    footer a:hover {
      border-color: #757575; }
  footer span.github > a:last-of-type {
    border-color: transparent; }
