html
	head
		title pomf.js
		link(type="text/css", rel="stylesheet", href="/css/index.css")
	body
		section.main
			header
				div
					form(action="/upload", method="post", enctype="multipart/form-data")
						input#upload(type="file", name="upload")
						label(for="upload")
							div
								span Choose a file
							span Choose a file
					div #{limit}MB Limit
		script(type="text/javascript", src="/js/jquery.js")
		script(type="text/javascript", src="/js/jquery.form.js")
		script(type="text/javascript", src="/js/index.js")
